<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.gbs.gbs_cai_web.mapper.QnaBoardMapper">
<cache />
           
    <select id="getQnAList" resultType="com.ibm.gbs.gbs_cai_web.vo.QnaBoardVO">
        SELECT
        	 idx
        	,ref
        	,title
        	,content
        	,writer
        	,time
        	,visit
        	,(SELECT COUNT(*) FROM QnABOARD WHERE ref = A.idx) AS count
        FROM QnABOARD A
        WHERE ref = 0
        ORDER BY idx DESC;
    </select>
    
    <select id="getQnA" parameterType="int" resultType="com.ibm.gbs.gbs_cai_web.vo.QnaBoardVO">
        SELECT
        	  A.idx
        	, A.ref
        	, A.title
        	, A.content
        	, A.writer
        	, A.time
        	, A.visit
        	, (SELECT COUNT(*) FROM QnABOARD WHERE ref = A.idx) AS count
        	, F.file_id
        	, F.file_nm
        FROM QnABOARD A
        LEFT OUTER JOIN file F
        ON   A.idx = F.file_id
        WHERE A.idx = #{idx}
        
    </select>
    
    <select id="getQnAComment" parameterType="int" resultType="com.ibm.gbs.gbs_cai_web.vo.QnaBoardVO">
        SELECT
        	 idx
        	,content
        	,writer
        	,time
        FROM QnABOARD
        WHERE ref = #{ref}
    </select>
        
    <select id="getFileById" parameterType="java.lang.String" resultType="java.lang.String">
    	SELECT F.file_nm
    	  FROM file F
    	 WHERE F.file_id = #{file_id}
    </select>
    
    <select id="selectFileId" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT idx
    	  FROM QnABOARD
    	 WHERE board_id = #{board_id}
    </select>
      
    <insert id="addQnA" parameterType="com.ibm.gbs.gbs_cai_web.vo.QnaBoardVO">
        INSERT INTO QnABOARD (
             board_id      
        	,ref
	        ,title
	        ,content
	        ,writer
	        ,time        
        )
        VALUES (
             #{board_id}
        	,#{ref}
        	,#{title}
        	,#{content}
        	,#{writer}
        	,now()	        
        )	
    </insert>
    
    <insert id="addFile" parameterType="com.ibm.gbs.gbs_cai_web.vo.FileVO">
    	INSERT INTO file (
        	 file_id
	        ,file_nm
	        ,crt_dttm
	        
        )
        VALUES (
        	 #{file_id}
        	,#{file_nm}
        	,DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i %p')        
        )
    </insert>
 
    <update id="updateQnA" parameterType="com.ibm.gbs.gbs_cai_web.vo.QnaBoardVO">
        UPDATE QnABOARD
        	SET title 	= #{title}
        	   ,content = #{content}
        	   ,writer	= #{writer}
		WHERE idx = #{idx}
    </update>
    
    <update id="increaseVisit" parameterType="int">
    	UPDATE QnABOARD
        	SET visit = #{arg1}
		WHERE idx = #{arg0}
    </update>
    
    <update id="updateFile" parameterType="com.ibm.gbs.gbs_cai_web.vo.FileVO">
    	UPDATE file
    	   SET file_nm = #{file_nm}
    	 WHERE file_id = #{file_id}
    </update>
    
    <delete id="deleteQnA" parameterType="int">
        DELETE    
        FROM QnABOARD
        WHERE idx = #{idx}
    </delete>
    
    <delete id="deleteFile" parameterType="java.lang.String">
    	DELETE
    	  FROM file
    	 WHERE file_id = #{file_id}
    </delete>    
</mapper>